<div class="px-4 pt-4">
  <div>
    <p class="fw-bold fs-3">Menú</p>
  </div>
  <div class="list-group">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="list-group-item list-group-item-action"
    >
      Home
    </a>
    <a
      routerLink="/peru"
      routerLinkActive="active"
      class="list-group-item list-group-item-action"
    >
      Perú
    </a>
    <a
      routerLink="/chile"
      routerLinkActive="active"
      class="list-group-item list-group-item-action"
    >
      Chile
    </a>
    <a
      routerLink="/uruguay"
      routerLinkActive="active"
      class="list-group-item list-group-item-action"
    >
      Uruguay
    </a>
  </div>
</div>
